@page
@model ListModel
@{
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" placeholder="Type in the name of the restaurant" class="form-control" asp-for="SearchTerm"/>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-btnlg"
                   asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
                <a class="btn btn-btnlg"
                   asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary">Add a new Restaurant</a>

<div>@Model.Message</div>
